@charset "UTF-8";
  a:link {
  color: white;
  background-color: #F2DBB3;
  padding:10px 15px;
	 margin: 5px 15px;
	 border-radius: 5px;
	 text-decoration: none;
}
a:visited {
  color: #BC4043;
  background-color: #F2DBB3;
  padding:10px 15px;
}
a:hover {
  color: #F2DBB3;
  background-color: #943d24;
  text-decoration: none;
}
a:active {
  color: #943d24;
  background-color: transparent;
  text-decoration: none;
}

body {
	background-color:#EEBD79; 
	color:#943d24;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.headerdiv {
	background-color:#943d24; 
	color:#ffffff;
	font-size: 50px;
	text-align: center;
	padding: 15px;
}
#navdiv {
	background-color:#F5B4A1; 
	padding: 10px; 
	border: medium dashed #F5B4A1;
	text-align: center;
}
#introdiv {
	
}
#bodydiv {
	background-color:#E4D3B4;
	color:#943d24; 
	font-family: Constantia, 'Lucida Bright', 'DejaVu Serif', Georgia, 'serif'
}
#footer {
	background-color:#943d24; 
	padding: 10px;
	color: #FFFFFF;
}
.thirdscolumn {
	width: 20%; 
	float: left; 
	text-align:center;
	padding:40px;
	margin: 26px;
	font-size:35px;
	background-color:#F2DBB3;
	border-width:10px;
	border-color:#943d24;
}
.thirdscolumn:hover {
	box-shadow: 10px 10px 5px 2px #943d24;
	transform: rotate(2deg);
}
.content {
	background-color:#F2DBB3; 
	border-radius:2px; 
	margin:40px; 
	padding:10px 5px 10px 25px;
	font-size:140%; 
	line-height:2;
}